<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:Manitoba</key>
		<dict>
			<key>CreationDate</key>
			<date>2010-05-16T07:59:48Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>4C1181A2-595A-4F7E-8EFD-378DA62DC902</string>
			<key>PageDigests</key>
			<dict>
				<key>css/icons/black.css</key>
				<dict>
					<key>Digest</key>
					<data>
					NPZVYOA5X+57ScZEev1YQQ==
					</data>
					<key>Size</key>
					<integer>440</integer>
				</dict>
				<key>css/icons/blue.css</key>
				<dict>
					<key>Digest</key>
					<data>
					UEMx+YZwcZMOId995DCwAw==
					</data>
					<key>Size</key>
					<integer>434</integer>
				</dict>
				<key>css/icons/brown.css</key>
				<dict>
					<key>Digest</key>
					<data>
					lN+LOd2KF/vnemFSaAbUNw==
					</data>
					<key>Size</key>
					<integer>438</integer>
				</dict>
				<key>css/icons/green.css</key>
				<dict>
					<key>Digest</key>
					<data>
					UyMHuKlgDKaEYQJoLngb5w==
					</data>
					<key>Size</key>
					<integer>438</integer>
				</dict>
				<key>css/icons/pink.css</key>
				<dict>
					<key>Digest</key>
					<data>
					nzLyiNUEeAECOkyTR3Bizw==
					</data>
					<key>Size</key>
					<integer>435</integer>
				</dict>
				<key>css/icons/red.css</key>
				<dict>
					<key>Digest</key>
					<data>
					38s2CCi/QA0Av6EMnWVOBA==
					</data>
					<key>Size</key>
					<integer>432</integer>
				</dict>
				<key>css/ie6.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ayn0DaId2uig5tfHvtb02g==
					</data>
					<key>Size</key>
					<integer>178</integer>
				</dict>
				<key>css/ie7.css</key>
				<dict>
					<key>Digest</key>
					<data>
					g1I2CbmyedFLmAVVYD2dCg==
					</data>
					<key>Size</key>
					<integer>136</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ae7wfvsRnhJJx85i3lTlRQ==
					</data>
					<key>Size</key>
					<integer>163</integer>
				</dict>
				<key>css/sidebar/sidebar_none.css</key>
				<dict>
					<key>Digest</key>
					<data>
					GUddkn81yhmh70WOeyjcfw==
					</data>
					<key>Size</key>
					<integer>93</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					exY/9MkJLtfN3QhzjCIXpg==
					</data>
					<key>Size</key>
					<integer>138</integer>
				</dict>
				<key>css/site_width/1100.css</key>
				<dict>
					<key>Digest</key>
					<data>
					GIVtOvelDBtUFCdwQuF2Yg==
					</data>
					<key>Size</key>
					<integer>87</integer>
				</dict>
				<key>css/site_width/600.css</key>
				<dict>
					<key>Digest</key>
					<data>
					3TffdBdmUIi2RPtF2aJvWg==
					</data>
					<key>Size</key>
					<integer>85</integer>
				</dict>
				<key>css/site_width/700.css</key>
				<dict>
					<key>Digest</key>
					<data>
					DlJ2ma/1bdcCOQqTupBRng==
					</data>
					<key>Size</key>
					<integer>86</integer>
				</dict>
				<key>css/site_width/800.css</key>
				<dict>
					<key>Digest</key>
					<data>
					JqHY+3VOPwO0PMyGe74lEg==
					</data>
					<key>Size</key>
					<integer>85</integer>
				</dict>
				<key>css/site_width/900.css</key>
				<dict>
					<key>Digest</key>
					<data>
					p1WZjhwswIbWyxSlv210XQ==
					</data>
					<key>Size</key>
					<integer>87</integer>
				</dict>
				<key>css/site_width/variable.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Vqxhd81Ch2I1yQ9z0/DrJQ==
					</data>
					<key>Size</key>
					<integer>82</integer>
				</dict>
				<key>css/title/title_inline.css</key>
				<dict>
					<key>Digest</key>
					<data>
					MPeW7h9RihKMOG+B6GhwBg==
					</data>
					<key>Size</key>
					<integer>260</integer>
				</dict>
				<key>css/title/title_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					dL53/2aIaMhyEG0WyZ8AjA==
					</data>
					<key>Size</key>
					<integer>227</integer>
				</dict>
				<key>css/title/title_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					DzrgaIMPPBWM4Z81KhRArQ==
					</data>
					<key>Size</key>
					<integer>233</integer>
				</dict>
				<key>csshover.htc</key>
				<dict>
					<key>Digest</key>
					<data>
					3PlhR0K8SPXNBkFVAY67hA==
					</data>
					<key>Size</key>
					<integer>4236</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>images/feed.png</key>
				<dict>
					<key>Digest</key>
					<data>
					zBw1k/NbshY95+/Ac2Dvbw==
					</data>
					<key>Size</key>
					<integer>656</integer>
				</dict>
				<key>images/file_black.png</key>
				<dict>
					<key>Digest</key>
					<data>
					S3MFZ+IR4YvNQNovbiXJzg==
					</data>
					<key>Size</key>
					<integer>448</integer>
				</dict>
				<key>images/file_blue.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Qczn9i4foamxGquwoQtvcA==
					</data>
					<key>Size</key>
					<integer>447</integer>
				</dict>
				<key>images/file_brown.png</key>
				<dict>
					<key>Digest</key>
					<data>
					1SodbchydK67xUb5HuUKvg==
					</data>
					<key>Size</key>
					<integer>442</integer>
				</dict>
				<key>images/file_green.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Zoj6XhA8baaPx5bZBrYwZA==
					</data>
					<key>Size</key>
					<integer>453</integer>
				</dict>
				<key>images/file_pink.png</key>
				<dict>
					<key>Digest</key>
					<data>
					J+vR9G3rKR3NgA2DrmTybg==
					</data>
					<key>Size</key>
					<integer>434</integer>
				</dict>
				<key>images/file_red.png</key>
				<dict>
					<key>Digest</key>
					<data>
					/Tp7OzDpsjQHmBsEhzvZsA==
					</data>
					<key>Size</key>
					<integer>442</integer>
				</dict>
				<key>images/tag_black.png</key>
				<dict>
					<key>Digest</key>
					<data>
					JzeaMkLOWwSBxagOZ+p0Bg==
					</data>
					<key>Size</key>
					<integer>513</integer>
				</dict>
				<key>images/tag_blue.png</key>
				<dict>
					<key>Digest</key>
					<data>
					iU+vbz9G90EYej8LFKR70Q==
					</data>
					<key>Size</key>
					<integer>511</integer>
				</dict>
				<key>images/tag_brown.png</key>
				<dict>
					<key>Digest</key>
					<data>
					1wWlb9TY4zC8LBgdithAtg==
					</data>
					<key>Size</key>
					<integer>524</integer>
				</dict>
				<key>images/tag_green.png</key>
				<dict>
					<key>Digest</key>
					<data>
					8SD4Y11ZGeoJVl1mSUphUA==
					</data>
					<key>Size</key>
					<integer>506</integer>
				</dict>
				<key>images/tag_pink.png</key>
				<dict>
					<key>Digest</key>
					<data>
					tVOsSyg+Of5QEXUDFevgfg==
					</data>
					<key>Size</key>
					<integer>516</integer>
				</dict>
				<key>images/tag_red.png</key>
				<dict>
					<key>Digest</key>
					<data>
					UQO0AqLU3MYi2lVvnUAAoQ==
					</data>
					<key>Size</key>
					<integer>518</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					DNKZAXhJp6X58qn0mxQJIg==
					</data>
					<key>Size</key>
					<integer>7456</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					U2ZTnnGXOxVWzA6EfJ8Ffw==
					</data>
					<key>Size</key>
					<integer>14160</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:Manitoba</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
