#tower
  %img{ :src => "/images/tower.png" }
#count_bg
#counter
#top
  #title
    %img{ :src => "/images/title.png" }
  #menu
    %img{ :src => "/images/menu_home.png" }
    %img{ :src => "/images/menu_console.png" }
    %a{ :href => "/console/jobs" }
      %img{ :src => "/images/menu_job.png" }
#world
:javascript
  var initial = #{@initial};
  $(function(){
    if(initial !== undefined) {
      count = initial;
      showElephants(count);
    }
    $('#counter').text(count);
    setInterval(function(){
      var elephantTimerId;
      $.getJSON('/console/slaves.json', function(data) {
        elephantTimerId = setInterval(function() {
          var numComputers = data.computer.length;
          if(count == numComputers) {
            clearInterval(elephantTimerId);
          } else if(count < numComputers) {
            ++count;
            $('#counter').text(count);
            dropElephant();
            if(count == numComputers) clearInterval(elephantTimerId);
          } else if(count > numComputers) {
            --count;
            $('#counter').text(count);
            throwElephant(count);
            if(count == numComputers) clearInterval(elephantTimerId);
          }
        }, 1000);
      });
    }, 1000);
  });
