#top
  #title
    %img{ :src => "/images/title.png" }
  #menu
    %a{ :href => "/console/" }
      %img{ :src => "/images/menu_home.png" }
    %img{ :src => "/images/menu_console.png" }
    %a{ :href => "/console/jobs" }
      %img{ :src => "/images/menu_job.png" }
#job
  #jobby
    %img{ :src => "/images/bg_job.png" }
    %div{ :id => 'mapArea' }
      %div{ :id => 'mapRect' }
:javascript
  var mapInitial    = #{@map_initial};
  var reduceInitial = #{@reduce_initial};
  $(function(){
    log("start");
    $('#mapRect').css({opacity: "0.4"});
    if(mapInitial !== undefined) {
      showMapBar(mapInitial);
    }
    setInterval(runForJob, 1000);
  });
