#tower{ :style => "top: 615px;" }
  %img{ :src => "/images/tower.png" }
#count_bg
  #counter
#top{ :style => "height:700px;background-color:#86a4ef;" }
#world
:javascript
  $(function(){
    $('#counter').text(count);
    setInterval(function(){
      var elephantTimerId;
      $.getJSON('/console/slaves.json', function(data) {
        elephantTimerId = setInterval(function() {
          var numComputers = data.computer.length;
          if(count == numComputers) {
            clearInterval(elephantTimerId);
          } else if(count < numComputers) {
            ++count;
            $('#counter').text(count);
            dropElephant();
            if(count == numComputers) clearInterval(elephantTimerId);
          } else if(count > numComputers) {
            --count;
            $('#counter').text(count);
            throwElephant(count);
            if(count == numComputers) clearInterval(elephantTimerId);
          }
        }, 1000);
      });
    }, 1000);
  });
